@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
main {
    background-color: white;
}
body{
   font-family: 'Ubuntu', sans-serif; 
   color: #3c393d;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner-background.jpg) center/cover no-repeat fixed;
}
img {
    max-width: 100%;
}
/* header */
header{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
/* menu responsivo */
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}

/*menu */
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}
.container-navbar img {
    width: 40%;
    margin: 0.7rem;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.4rem;
    letter-spacing: 2px;
}
.navbar a {
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 1rem;
}
.navbar a:hover {
    opacity: 0.3;
    transition: .3s ease;
}

/* banner */
.banner{
    min-height: 100vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 7rem;
    font-family: 'Ubuntu', sans-serif; 
    line-height: 1.2;
}
strong::before {
    content:'< ';
    font-size: 3rem;
    color:#f5f5f5;
}
strong::after {
    content:' >';
    font-size: 3rem;
    color:#f5f5f5;
}
.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-spacing: 2px;
}
.banner strong {
    color:rgb(246, 250, 0);
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: #3c393d;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}
.news-tecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(32, 29, 29);
    text-align: center;
}
.title {
    color:#3c393d;
    font-size: 2rem;
    padding: 10px;
    margin: 120px 0;
}
.title p {
    margin: 10px;
}
/* acordion */
.accordion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: 0.8rem;
}
.accordion-item{
    position: relative;
    max-width: 400px;
    margin-bottom: 2rem;
}
.accordion-item span:first-of-type {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: rgba(250, 249, 249, 0.7);
    color: #3c393d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0.6rem 1.6rem;
}
.accordion-title{
    display: block;
    background: rgb(161, 158, 158); 
    padding: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    border-bottom: 4px solid rgb(77, 70, 70);
}
.panel {
    padding: 1rem;
    background: rgba(233, 227, 227, 0.8); 
    display: none;
    overflow: hidden;
}
.panel p {
    font-size: 16px;
    font-weight: 500;
    color:#3c393d;
}
.panel a {
    display: block;
    color:#2963ad;
    text-decoration: none;
    word-wrap: break-word;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.accordion-title::after {
    display: flex;
    justify-content: flex-end;
    content: 'Clique para ler prévia ⬇️';
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.accordion-item img {
    border-top: 4px solid rgb(0,0,0,0.1);
}

    /* footer */
    footer{
        background: rgba(43, 41, 41);
        color: #fff;
        text-align: center;
        padding: 2rem 0;
    }
    .container-contato{
        display: flex;
        justify-content: center;
        margin-bottom: 1.4rem;
    }
    .container-contato a{
        border: 3px solid #fff;
        color: #fff;
        display: block;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        text-decoration: none;
        margin: 0 0.3rem;
        transition: all 0.5s ease;
    }
    
    .container-contato a:hover {
        background: #fff;
        color: #3c393d;
    }
    .footer-title {
        display: block;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        margin-top: 1rem;
        
        }
@media screen and (max-width: 1024px) {
    .banner {
        min-height: 80vh;
    }
    .container-navbar img {
        width: 50%;
    }
    .container-navbar img {
        width: 40%;
    }
    .news-tecnologia {
        padding: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        min-height: 70vh;
    }
    .banner-title {
        font-size: 4rem;
    }
    .banner p {
        font-size: 1.8rem;
    }
    .navbar a {
        font-size: 0.9rem;
    }
    .container-navbar img {
        width: 40%;
    }
    .news-tecnologia {
        padding: 1rem;
    }
}
@media screen and (max-width: 425px) {
    header {
        overflow: hidden;
        width:100%;
    }
    .navbar {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        top: 15vw;
        right: 0;
        width: 100vw;
        height: 40vh;
        background:rgba(0, 0, 0, 0.7);
        transform: translateX(-100%);
        z-index: 10;
    }
    .navbar.active {
        transform: translateX(0);
        transition: all .3s ease-in;
    }
    .navbar li {
        color: #fff;
    }
    .mobile-menu {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        padding: 0.6rem;
        opacity: 0.7;
    }
    .banner-title {
    font-size: 2.2rem;
    }
    .banner p {
        font-size: 1.3rem;
    }
    .accordion {
        margin: 10px 0;
        padding: 0.1rem;
    }
    .accordion p {
        padding: 0.4rem;
    }
    .news-tecnologia {
        padding: 0.5rem;
    }
    body {
        background: none;
    }
    .banner {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    header {
        overflow: hidden;
        width:100%;
    }
    .navbar {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        top: 16vw;
        right: 0;
        width: 100vw;
        height: 40vh;
        background:rgba(0, 0, 0, 0.7);
        transform: translateX(-100%);
        z-index: 10;
    }
    .navbar.active {
        transform: translateX(0);
        transition: all .3s ease-in;
    }
    .navbar li {
        color: #fff;
    }
    .mobile-menu {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        padding: 0.6rem;
        opacity: 0.7;
    }
    .banner-title {
        font-size: 2.2rem;
    }
    .banner p {
        font-size: 1.3rem;
    }
    .accordion {
        margin: 10px 0;
        padding: 0.3rem;
    }
    .accordion p {
        padding: 0.4rem;
    }
    .news-tecnologia {
        padding:0.5rem;
    }
    .news-tecnologia {
        padding: 0.5rem;
    }
    body {
        background: none;
    }
    .banner {
        display: none;
    }
}
        
@media screen and (max-width: 320px) {
    header {
        overflow: hidden;
        width:100%;
    }
    .navbar {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        top: 17vw;
        right: 0;
        width: 100vw;
        background:rgba(0, 0, 0, 0.7);
        transform: translateX(-100%);
        z-index: 10;
    }
    .navbar.active {
        transform: translateX(0);
        transition: all .3s ease-in;
    }
    .navbar li {
        color: #fff;
    }
    .mobile-menu {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        padding: 0.6rem;
        opacity: 0.7;
    }
    .banner-title {
        font-size: 2.2rem;
    }
    .banner p {
        font-size: 1.3rem;
    }
    .accordion {
        margin: 10px 0;
        padding: 0.3rem;
    }
    .title p {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .accordion p {
        padding: 0.8rem;
    }
    .news-tecnologia {
        padding:0.5rem;
    }
    .title {
        margin: 1rem 0;
        padding: 0.4rem;
        font-size: 1rem;
    }
    body {
        background: none;
    }
    .banner {
        display: none;
    }
}
