@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif; 
   color: #f5f5f5;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/banner-background.jpg) center/cover no-repeat fixed;
}
img {
    max-width: 100%;
}
/* header */
header{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
/* menu responsivo */
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}

/*menu */
.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}
.container-navbar img {
    width: 40%;
    margin: 0.7rem;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.4rem;
    letter-spacing: 2px;
}
.navbar a {
    list-style: none;
    font-size: 1.2rem;
    text-decoration: none;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 1rem;
}
.navbar a:hover {
    opacity: 0.3;
    transition: .3s ease;
}

/* banner */
.banner{
    min-height: 100vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 7rem;
    font-family: 'Ubuntu', sans-serif; 
    line-height: 1.2;
}
strong::before {
    content:'< ';
    font-size: 3rem;
    color:#f5f5f5;
}
strong::after {
    content:' >';
    font-size: 3rem;
    color:#f5f5f5;
}
.banner p {
    padding: 1rem 0 2rem 0;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-spacing: 2px;
}
.banner strong {
    color:rgb(246, 250, 0);
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: #3c393d;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}


/* section noticias */


.tech-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.8rem;
    width: 400px;
    height: 400px;
}
.news-tecnologia{
    background: #fff;
    padding: 2rem;
} 
.title {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    color: #3c393d;
}
.title h2 {
    padding: 1rem 0;
    margin: 1rem;
    text-transform: uppercase;
}
.tech-content{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.tech-item {
    cursor: pointer;
    margin: 2rem 0; /* margem das noticias */
}
.tech-img {
    position: relative;
    overflow: hidden;
}
.tech-item:hover img {
    transform: scale(1.1);
}
.tech-item span:first-of-type {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: rgba(250, 249, 249, 0.7);
    color: #3c393d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0.8rem 2rem;
}
.tech-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.tech-title {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.tech-title a {
        display: block;
        color: #3c393d;
        text-decoration: none;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
}
    .tech-img::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        pointer-events: none;
    }
    .tech-img img {
            transition:  all 0.5s ease;
    }

    /* footer */
    footer{
        background: rgba(43, 41, 41);
        color: #fff;
        text-align: center;
        padding: 2rem 0;
    }
    .container-contato{
        display: flex;
        justify-content: center;
        margin-bottom: 1.4rem;
    }
    .container-contato a{
        border: 3px solid #fff;
        color: #fff;
        display: block;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px; 
        text-decoration: none;
        margin: 0 0.3rem;
        transition: all 0.5s ease;
    }
    
    .container-contato a:hover {
        background: #fff;
        color: #3c393d;
    }
    .footer-title {
        display: block;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        margin-top: 1rem;
        
        }
@media screen and (max-width: 320px) {
    header {
        overflow: hidden;
        width:100%;
    }
    .navbar {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        top: 17vw;
        right: 0;
        width: 100vw;
        height: 40vh;
        background:rgba(0, 0, 0, 0.7);
        transform: translateX(-100%);
    }
    .navbar.active {
        transform: translateX(0);
        transition: all .3s ease-in;
    }
    .navbar li {
        color: #fff;
    }
    .mobile-menu {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        padding: 0.6rem;
        opacity: 0.7;
    }
    .banner-title {
        font-size: 2.2rem;
    }
    .banner p {
        font-size: 1.3rem;
    }
    .tech-content{
    grid-template-columns: repeat(1, 1fr);
    }
    .tech-item {
        margin: 0;
    }
    .tech-img {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 200px;
    }
    .title h2 {
        font-size: 1.3rem;
    }
    .title p {
        font-size: 1.2rem;
    }
    .tech-title {
        font-size: 1.2rem;
        width: 100%;
    }
    .news-tecnologia {
        padding: 0 0.1rem;
    }
    body {
        background: none;
    }
    .banner {
        display: none;
    }
}
